<div class="image-renderer-container">
  
  @if (imageUrls && imageUrls.length > 0) {
    <div class="avatar-wrapper" 
         [appImageViewer]="imageUrls[0]" 
         pRipple>
      
      <p-avatar 
        [image]="imageUrls[0]" 
        [size]="avatarSize" 
        shape="circle"
        styleClass="image-avatar">
      </p-avatar>

      @if (imageUrls.length > 1) {
        <div class="badge" 
             pTooltip="+{{ imageUrls.length - 1 }} more" 
             tooltipPosition="top">
          {{ imageUrls.length }}
        </div>
      }
    </div>

  } @else {
    <div class="placeholder-avatar">
      <p-avatar 
        icon="pi pi-image" 
        [size]="avatarSize" 
        shape="circle" 
        styleClass="placeholder">
      </p-avatar>
    </div>
  }

</div>