<p-toast></p-toast>

<div class="list-page-container">
  <!-- HEADER -->
  <div class="list-header">
    <h2 class="list-title">
      <i class="pi pi-building text-[var(--accent-primary)]"></i>
      Branch Management
    </h2>
    <p-button label="New Branch" icon="pi pi-plus" routerLink="create">
    </p-button>
  </div>
  <div class="themed-card">
    <div class="se-filter-bar">

      <!-- Name -->
      <div class="se-filter-field">
        <label for="name">Branch Name</label>
        <input id="name" type="text" pInputText [(ngModel)]="branchFilter.name" placeholder="Search by name" />
      </div>

      <!-- Actions -->
      <div class="se-filter-actions">
        <p-button label="Apply" icon="pi pi-check" (onClick)="applyFilters()">
        </p-button>
        <p-button label="Reset" icon="pi pi-refresh" styleClass="p-button-outlined" (onClick)="resetFilters()">
        </p-button>
      </div>
    </div>
  </div>
  <div class="themed-card list-grid-area">
    <app-ag-share-grid [columns]="column" [data]="data" [showActions]="false" selectionMode="multiple"
      (gridEvent)="eventFromGrid($event)" style="height: 210px; width: 100%; display: block;">
    </app-ag-share-grid>

  </div>
</div>